/* Stylesheet for Button components used throughout Taskosaurus */

.Button {
  font-size: 1rem;
  border-radius: 100px;
  border-color: transparent;
  min-width: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  color: #000000;
  font-family: "Lato", "sans-serif";
  text-decoration: none;
  border-width: 2px;
  border-color: #9bfbce;
}

.Button:hover {
  opacity: 0.8;
  border-width: 2px;
  border-color: #277a54;
  cursor: pointer;
  color: #000000;
}

.Button:hover:active {
  background-color: #9bfbce;
  color: #000000;
}

.Button:active {
  background-color: #9bfbce;
  color: #000000;
}

.Button:focus {
  background-color: #9bfbce;
  color: #000000;
}

.Wide {
  padding: 1.5rem 3rem;
}

.Bright:hover {
  background-color: #50faab;
  color: #000000;
}

.Bright {
  background-color: #9bfbce;
  color: #000000;
}

.Button Link {
  color: #000000;
}

.Link {
  color: #000000;
  text-decoration: none;
}

.Link:hover {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .Button {
    max-width: 100%;
    margin-top: 1rem;
  }
}
