.ListViewItem {
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  background-color: #50faab;
  border-radius: 3rem;
  border-width: 3rem;
  border-style: dashed;
  border-color: #175f3f;
  min-height: 20vh;
  padding: 1rem;
  
}

.ListViewItem > h3 {
  min-height: 25vh;
  text-decoration:underline;
}



