/* Stylesheet used for the navbar */

.NavBar {
  background-color: #9bfbce;
  font-family: "Lato", sans-serif;
}

.NavLink {
  color: #000000;
  padding: 5px;
}

.NavLink:hover {
  color: #000000;
}

.Active {
  background-color: #50faab;
}

@media (max-width: 800px) {
  .NavLink {
    font-size: smaller;
  }
}

@media (max-width: 760px) {
  .NavLink {
    font-size: unset;
  }
}
