.NavBar {
    background-color: #9BFBCE;
    font-family: 'Lato', sans-serif;
}

.NavLink {
    color: #000000;
    padding: 5px;
}

.NavLink:hover {
    color: #000000;
}

.Active {
    background-color: #50FAAB;
}

@media (max-width: 800px) {
    .NavLink {
        font-size: smaller;
    }
}

@media (max-width: 760px) {
    .NavLink {
        font-size: unset;
    }
}

