.WelcomeText {
    width: 90%;
    height: 60vh;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    color: #175f3f;
}

.Header {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.Paragraph {
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 8rem;
    font-size: 1.3rem;
    font-family: 'Lato', 'sans-serif';
    text-align: left;
}